{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/v1.min.css' %}">
<script type="text/javascript" src="{% static 'js/v1.min.js' %}"></script>
<div class="wrap">
<div class="user_nav f_l mr5">
<style>
.user_nav{width:168px; border:1px solid #e3e3e3;-webkit-box-shadow: none;-moz-box-shadow:none; box-shadow:none; padding:0; padding-bottom:10px;}
.user_nav h2{font-size:18px; padding:10px 19px;}
.user_nav li{line-height:38px; padding:0px 6px; position: relative;}
.user_nav li a{color:#010101; height:38px; display:inline-block;padding:0px 0px 0px 43px !important; width:153px !important;}
.user_nav li a i {display: inline-block !important; background-image: none; width: 5px; height: 5px; background: #c8c8c8; position: absolute; top: 17px; left: 32px;}
.user_nav li.user_select a i{background:#f96648;}
.user_nav li a:hover{color: #010101 !important}
.user_nav li.user_select a{background:#f4f2f2; color:#f96648; text-decoration:none;}
.user_nav li a em,.user_nav li a:hover em,.user_nav li.user_select em{background:#f96648; margin-right:10px; color:#fff;}
.user_nav li a em,.user_nav li a:hover em,.user_nav li.user_select em{background:#f96648; margin-right:10px; color:#fff;}
</style>
<!--个人中心左侧开始-->
<h2>我的账户</h2>
<ul>
   	<li><a href="/index/member/"><i class="ico_gailan"></i>账户总览</a></li>
    <li><a href="/index/install/"><i class="ico_redp"></i>个人设置</a></li>
    <li><a href="/index/load/"><i class="ico_xiangmu"></i>已投项目</a></li>
    <li><a href="/index/charge/"><i class="ico_chongzhi"></i>充值</a></li>
    <li class="user_select"><a href="/index/cash/"><i class="ico_tixian"></i>提现</a></li>
    <li><a href="/index/money/"><i class="ico_jilu"></i>资金记录</a></li>
    <li><a href="/index/loan/"><i class="ico_huikuan"></i>回款计划</a></li>
    <li><a href="/index/refund/"><i class="ico_huankuan"></i>还款计划</a></li>
    <li><a href="/index/contract/"><i class="ico_hetong"></i>合同列表</a></li>
    <!--li ><a href="/uc_account-invitation"><i class="ico_yonghu"></i>邀请好友</a></li-->
    <li><a href="/index/coupon/"><i class="ico_yaoqing"></i>邀请返利</a></li>
    <li><a href="/index/bonus/"><i class="ico_redp"></i>平台红包</a></li>
</ul>
<!--个人中心左侧开始-->

</div>
<div class="user_right f_l">
	<script type="text/javascript" src="{% static 'js/u.js' %}"></script>
<script type="text/javascript">
(function() {
_fmOpt = {
    partner: 'firstp2p',
    appName: 'firstp2p_web',
    token: '1rdo8f31egqiv280to6hdqs4l5'        };
var cimg = new Image(1,1);
    cimg.onload = function() {
    _fmOpt.imgLoaded = true;
};
cimg.src = "https://fp.fraudmetrix.cn/fp/clear.png?partnerCode=firstp2p&appName=firstp2p_web&tokenId=" + _fmOpt.token;
var fm = document.createElement('script'); fm.type = 'text/javascript'; fm.async = true;
fm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'static.fraudmetrix.cn/fm.js?ver=0.1&t=' + (new Date().getTime()/3600000).toFixed(0);
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fm, s);
 })();
</script>

<link rel="stylesheet" type="text/css" href="{% static 'css/user_web2.css' %}">

<div class="user_right">
        <div class="user_right_box">
        <div class="user_title"><h1><i class="ico_tixian"></i>提现</h1></div>
        <div class="user_tip">
            <p>1、我们将在 <strong class="color-yellow1">1</strong> 个工作日之内（除双休日和法定节假日外），将提现金额转入您绑定的银行卡中，实际到账时间依据账户托管方及提现<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银行而有所差异。</p>
<p>2、平台禁止洗钱、信用卡充值套现等行为，平台有权拒绝信用卡充值以及无投资账户的提现申请。</p>
<p>3、单笔提现金额上限500万元。</p>
<p>4、上海银行单笔提现金额上限20万元。</p>

        </div>
        <div class="u_txtip mauto">
            申请提现成功后，钱将转入 <span class="color-yellow1 mr20">中国建设银行</span>开户名： <span class="color-yellow1 mr20">武永号</span>卡号：<span class="color-yellow1">6217***********8161</span> 的银行卡内。
        </div>
        <div class="sub_title mauto"><span>提现至银行卡</span></div>
       <form name="Jcarry_From" id="Jcarry_From" action="http://www.firstp2p.com/account/savecarry" method="post">
            <input type="hidden" id="token_id" name="token_id" value="1448698722896"><input type="hidden" id="token" name="token" value="0093d28ea20f22ba811d03015f794811">            <div class="take">
                <dl class="clearfix">
                    <dt>开户名：</dt>
                    <dd><span class="color-yellow1">武永号</span></dd>
                </dl>
              <dl class="clearfix">
                  <dt>开户行：</dt>
                  <dd><span class="color-yellow1">中国建设银行    </span></dd>
              </dl>
              <dl class="clearfix">
                <dt>银行卡号：</dt>
                    <dd><span class="color-yellow1">6217***********8161</span></dd>
                </dl>
                <dl class="clearfix">
              <dt>现金余额：</dt>
                    <dd>0.00 元<input id="Jcarry_totalAmount" type="hidden" value="0.00"></dd>
                </dl>
                <dl class="clearfix">
                    <dt>提现金额：</dt>
                    <dd><input type="text" name="amount" class="user_name" id="Jcarry_amount"> 元&nbsp;&nbsp;<span id="Jcarry_balance" style="color:red;" class="f_red lh28"></span></dd>
                </dl>
                <dl class="clearfix">
                    <dt>提现后余额：</dt>
                    <dd><span class="color-yellow1" id="Jcarry_acount_balance">0.00元</span></dd>
                </dl>
            </div>
            <div class="tc p20 f14">
                <input type="hidden" name="acount_balance" id="Jcarry_acount_balance_res" style="width:70px">                <input type="submit" class="user_button mt20 mb15" value="申请提现">
                <div class="pb37">(预计 1 个工作日内到账, 实际到账时间依据账户托管方及提现银行而有所差异)</div>
            </div>
        </form>
        </div>

    </div>

<script type="text/javascript">
    $(document).ready(function(){
        $("select[name='region_lv1']").bind("change",function(){
            load_select("1");
        });
        $("select[name='region_lv2']").bind("change",function(){
            load_select("2");
        });
        $("select[name='region_lv3']").bind("change",function(){
            load_select("3");
        });
        $("select[name='region_lv4']").bind("change",function(){
            load_select("4");
        });
        // init region
                var devlv1Option = $("select[name='region_lv1'] option[value='" + $("#deflv1").val() + "']")[0];
                if (devlv1Option) {
                    devlv1Option.selected = true;
                    load_select("1");
                    var devlv2Option = $("select[name='region_lv2'] option[value='" + $("#deflv2").val() + "']")[0];
                    if (devlv2Option) {
                        devlv2Option.selected = true;
                        load_select("2");
                        var devlv3Option = $("select[name='region_lv3'] option[value='" + $("#deflv3").val() + "']")[0];
                        if (devlv3Option) {
                            devlv3Option.selected = true;
                            load_select("3");
                            var devlv4Option = $("select[name='region_lv4'] option[value='" + $("#deflv4").val() + "']")[0];
                            if (devlv4Option) {
                                devlv4Option.selected = true;
                            }
                        }
                    }
                }
    });

    function load_select(lv)
    {
        var name = "region_lv"+lv;
        var next_name = "region_lv"+(parseInt(lv)+1);
        var id = $("select[name='"+name+"']").val();

        if(lv==1)
        var evalStr="regionConf.r"+id+".c";
        if(lv==2)
        var evalStr="regionConf.r"+$("select[name='region_lv1']").val()+".c.r"+id+".c";
        if(lv==3)
        var evalStr="regionConf.r"+$("select[name='region_lv1']").val()+".c.r"+$("select[name='region_lv2']").val()+".c.r"+id+".c";

        if(id==0)
        {
            var html = "<option value='0'>="+LANG['SELECT_PLEASE']+"=</option>";
        }
        else
        {
            var regionConfs=eval(evalStr);
            evalStr+=".";
            var html = "<option value='0'>="+LANG['SELECT_PLEASE']+"=</option>";
            for(var key in regionConfs)
            {
                html+="<option value='"+eval(evalStr+key+".i")+"'>"+eval(evalStr+key+".n")+"</option>";
            }
        }
        $("select[name='"+next_name+"']").html(html);

        if(lv == 4)
        {
            load_delivery();
        }
        else
        {
            load_select(parseInt(lv)+1);
        }


    }

</script>
</div>

<div class="blank"></div>

</div>
{% endblock %}