{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
<script>
$('#open01').removeClass('active');
$('#open05').addClass('active');
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/v1.min.css' %}">
<script type="text/javascript" src="{% static 'js/v1.min.js' %}"></script>
<div class="wrap">
<div class="blank"></div>
<div class="user_nav f_l mr5">
<style>
.user_nav{width:168px; border:1px solid #e3e3e3;-webkit-box-shadow: none;-moz-box-shadow:none; box-shadow:none; padding:0; padding-bottom:10px;}
.user_nav h2{font-size:18px; padding:10px 19px;}
.user_nav li{line-height:38px; padding:0px 6px; position: relative;}
.user_nav li a{color:#010101; height:38px; display:inline-block;padding:0px 0px 0px 43px !important; width:153px !important;}
.user_nav li a i {display: inline-block !important; background-image: none; width: 5px; height: 5px; background: #c8c8c8; position: absolute; top: 17px; left: 32px;}
.user_nav li.user_select a i{background:#f96648;}
.user_nav li a:hover{color: #010101 !important}
.user_nav li.user_select a{background:#f4f2f2; color:#f96648; text-decoration:none;}
.user_nav li a em,.user_nav li a:hover em,.user_nav li.user_select em{background:#f96648; margin-right:10px; color:#fff;}
.user_nav li a em,.user_nav li a:hover em,.user_nav li.user_select em{background:#f96648; margin-right:10px; color:#fff;}
</style>
<!--个人中心左侧开始-->
<h2>我的账户</h2>
<ul>
   	<li><a href="/index/member/"><i class="ico_gailan"></i>账户总览</a></li>
    <li><a href="/index/install/"><i class="ico_redp"></i>个人设置</a></li>
    <li><a href="/index/load/"><i class="ico_xiangmu"></i>已投项目</a></li>
    <li><a href="/index/charge/"><i class="ico_chongzhi"></i>充值</a></li>
    <li><a href="/index/cash/"><i class="ico_tixian"></i>提现</a></li>
    <li><a href="/index/money/"><i class="ico_jilu"></i>资金记录</a></li>
    <li class="user_select"><a href="/index/loan/"><i class="ico_huikuan"></i>回款计划</a></li>
    <li><a href="/index/refund/"><i class="ico_huankuan"></i>还款计划</a></li>
    <li><a href="/index/contract/"><i class="ico_hetong"></i>合同列表</a></li>
    <!--li ><a href="/uc_account-invitation"><i class="ico_yonghu"></i>邀请好友</a></li-->
    <li><a href="/index/coupon/"><i class="ico_yaoqing"></i>邀请返利</a></li>
    <li><a href="/index/bonus/"><i class="ico_redp"></i>平台红包</a></li>
</ul>
<!--个人中心左侧开始-->

</div>
<div class="user_right f_l">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_web2.css' %}">
<script type="text/javascript" src="{% static 'js/investment_view.js' %}"></script>
<div class="user_right_box">
    <div class="user_title"><h1><i class="ico_huikuan"></i>回款计划</h1></div>
    <form id="search" action="./回款计划_files/回款计划.html" method="get">
    <div class="screening clearfix">
        <div class="select_box" data-name="money_type"><input type="hidden" name="money_type" id="money_type" value="">
           <div class="j_select">全部回款类型</div>
             <ul class="select_ul j_selectContent none">
                <li data-value="">全部回款类型</li>
                                <li data-value="1">本金</li>
                                <li data-value="2">收益</li>
                                <li data-value="3">提前还款</li>
                                <li data-value="4">提前还款补偿金</li>
                                <li data-value="5">逾期罚息</li>
                                <li data-value="7">提前还款利息</li>
                                <li data-value="8">通知贷赎回本金</li>
                                <li data-value="9">通知贷赎回利息</li>
                             </ul>
        </div>
        <div class="select_box" data-name="repay_status"><input type="hidden" name="repay_status" id="repay_status" value="">
           <div class="j_select">全部</div>
             <ul class="select_ul j_selectContent none">
                                <li data-value="">全部</li>
                                <li data-value="0">未还</li>
                                <li data-value="1">已还</li>
                                <li data-value="2">因提前还款而取消</li>
                             </ul>
        </div>
        <div class="sel_time">
            <span>时间</span>
            <input type="text" name="start_time" class="time_box hasDatepicker" id="dateInput1" value=""><span class="pl10">-</span><input type="text" name="end_time" class="time_box j_date hasDatepicker" id="dateInput2" value="">
        </div>
         <input type="submit" value="筛选" class="button_shaixian fr">
    </div>
    </form>
</div>
<section>
    <div class="project clearfix u_zijin">
        <div class="pro_detailed clearfix">
	        	        <div class="empty-box">没有记录</div>
	                </div>
        <div class="user_tip charge_tip">
        <p>1、回款金额会在回款当日24点前到达您的平台账户，请您耐心等待。</p>
<p>2、如果汇款金额没有及时到账，可通过拨打<span class="color-yellow1">400-890-9888</span>(工作时间:7:00-23:00)寻求帮助。</p>

        </div>
    </div>
</section>
</div>

<div class="blank"></div>

</div>
{% endblock %}