@charset "utf-8";
.collection{ padding:30px 0px;}
.collection td,.collection th{ padding:10px 5px;}
.collection th{ text-align:right; font-size:14px; width:215px; line-height: 30px;}
.select_box{ line-height:25px; height:25px; border:1px solid #bababa; font-size:14px;  float:left; margin-top:3px; margin-right:5px; vertical-align: baseline; display:block}
#_js_shoudong{ display:block; height:30px; line-height:28px; float:left;}
.colltab label{ font-size:14px; float:left; padding-top:4px; padding-right:5px;}
.file_box{ position: relative; width:400px;+width:430px; height:33px; overflow: hidden;}
.hidden_file{
	position: absolute;
	opacity: 0;
	width: 440px;
	height: 45px;
	font-size: 22px;
	filter: Alpha(Opacity=0);
	top:-10px;
	outline: none 0px;
	cursor: pointer;
	left: -10px;
}
.wrap{ width:1100px; margin:0px auto 0;}
.shadow{ box-shadow:none; border:1px solid #e3e3e3; margin:22px 0px;}
.mess_title{ background:#fcfcfc; font-size:18px;}
.mess_title h1 i{background:#f3491f;border: 1px solid #e43b19;height: 18px;margin-right: 14px;width: 3px; display: inline-block; vertical-align:middle; position:relative; top:-2px;}
.collection{ padding-left:106px; padding-right:40px;}
.collection th{ width:105px; text-align:left; color:#4f4e4e; font-size:14px;}
.collection th .ico_asterisk{ width:0px; float:left;}
.file_box{ height:36px; width:403px;}
.file_box .btn_lx,.collection .btn_tj,.collection .btn_tj:hover,.collection .btn_tj:active,.collection .btn_cz,.collection .btn_cz:hover,.collection .btn_cz:active{ background-image: url(../images/btn_bg.png); background-color:#fff; background-repeat:no-repeat;}
.collection .btn_tj{ background-position:-244px -109px; width:247px; height:46px; line-height:44px;}
.collection .btn_tj:hover{background-position:-244px -166px;}
.collection .btn_tj:active{background-position:-244px -224px;}
.file_box .btn_lx{ background-position:-3px -330px; width:65px; height:34px; line-height:32px;}
.file_box .btn_lx:hover{background-position:-76px -330px;}
.file_box .btn_lx:active{background-position:-150px -330px;}
.collection .btn_cz{ background-position:-498px -109px; width:106px; height:46px; line-height:44px; color:#fff; margin-left:10px;}
.collection .idbox{ height:34px; line-height:34px;}
.select_box{ height:36px;}
.collection #_js_shoudong{ height:36px; line-height:36px;}
.colltab label{ padding-top:10px;}
.pb25{ padding-bottom:25px;}
.collection .colltab .btn_cz{ color:#616161;}