@charset "utf-8";
.edit-mid { margin-top: 23px; color: #656565; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; border: 1px solid #e0dede; border-radius: 0; }
.edit-mid a { text-decoration: underline; color: #0397ff }
.edit-mid .font16 { color: #656565; font-size: 18px; margin-top: 0; padding:18px 50px 0px;}
.edit-mid .font14 { font-size: 14px; text-align: center; display: block; margin-top: 40px }
.edit-mid  .red { color: #f75d3e !important; }
.edit-mid  .font14 .red { padding: 0 5px; }
.edit-success { margin-top: 125px; height: 43px; line-height: 43px }
.edit-mid .blank80 { height: 225px }
.blank80 { height: 60px }
.edit-suc, .edit-fail { width: 43px; height: 43px; background-image: url(../images/password_skin.png);}
.edit-suc { background-position: 0 -49px; position:relative; top:-3px; }
.edit-fail { background-position: 0 0; position:relative; top:-3px;  }
.wrap,.edit-mid{ width:1100px;}