@charset "utf-8";
.edit-mid { width:980px; margin:0 auto; background:#fff; -webkit-box-shadow:0px 1px 5px 2px rgba(52, 52, 52, 0.1); -moz-box-shadow:0px 1px 5px 2px rgba(52, 52, 52, 0.1); box-shadow:0px 1px 5px 2px rgba(52, 52, 52, 0.1); border-top:3px solid #feb804; border-radius:3px; position:relative; color: #878787; }
.blank80 { display:block; height:80px; width:100%; clear:both }
.txt { background: #FFFFFF; border: 1px solid #bababa; color: #999999; float: left; font-size: 14px; height: 28px; line-height: 28px; padding: 1px 5px; width: 180px; }
.pw-info { padding:20px 0 0 10px; color:#a3a3a3; min-height:375px;+min-height:395px;}
.pw-info h2 { font-size:24px; padding:0 0 15px 30px; }
.pw-info ul { margin-left: 10px; }
.pw-info li { font-size: 14px; line-height: 32px; margin-bottom: 18px; overflow: hidden; }
.pw-info li label { display: block; float: left; font-size: 14px; height: 30px; line-height:30px; padding-right: 10px; text-align: right; width: 120px; }
.pw-info li label span { color: #f04400; margin-right:10px; }
a.sumbtn { background:#ffb904; border-radius:3px; color: #FFF; display: inline-block; font-size: 14px; height: 28px; line-height: 28px; margin: 10px 0 0 0; text-align: center; width: 120px; float:left }
a.sumbtn:hover{ background:#ffca40;}
a.sumbtn:active{ background:#e5a500;}
.edit-success { margin:30px; text-align:center;}
.edit-suc, .edit-fail { display: inline-block; font-size: 0; height: 55px; width: 55px; margin-right:10px; vertical-align: middle; line-height: 0; background-image:url(../images/common/password.png); background-repeat:no-repeat }
.edit-suc { background-position:0 0; }
.edit-fail { background-position:0 bottom; }
i, em { font-style: normal; }
.font24 { font-size:24px; }
.font16 { text-align:center; font-size:16px; line-height:32px; display:block; margin:15px 0 0 0px; }
.edit-being { display: inline-block; font-size: 0; height: 55px; width: 55px; margin-right:10px; vertical-align: middle; line-height: 0; background-image:url(../images/common/being.png); background-repeat:no-repeat }
