/*我的合同列表*/
.pact-main {
	height: 109px;
	border: 1px #e5e5e5 solid;
	width: 750px;
	margin: 0 auto;
	margin-top: 17px;
}

.pact-m-left {
	color: #333;
	float: left;
	width: 588px;
}
.pact-ml-top {
	height: 51px;
	margin-left: 17px;
	margin-right: 65px;
	font-size: 14px;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px #e5e5e5 solid;
}
.pact-m-right {
	margin-left: 588px;
	width: 160px;
	height: 109px;
	border-left: 1px #e5e5e5 dashed;
	text-align: center;
}
.pact-ml-top em {
	color: #A6A6A6;
	margin-left: 40px;
}
 .pact-ml-top .no-marleft {
	margin-left: 0px;
}
.pact-ml-top  p {
	line-height: 26px;
}
.pact-ml-center {
	margin-left: 17px;
	height: 37px;
	line-height: 37px;
	font-size: 12px;
	color: #a6a6a6;
}

.pact-btn {
	width: 96px;
	height: 36px;
	font-size: 16px;
	line-height: 36px;
}

.pact-mr-top {
	padding-top: 20px;
}

.pact-mr-link {
	margin-top: 16px;
}
.pact-mr-link .blue {
	margin-left: 0px;
}

.pactshow {
	border: 1px solid #e5e5e5;
	margin-top: 17px;
}
.pactshow .plan {
	width: 100%;
}

.pact-table thead th {
	height: 33px;
	line-height: 33px;
	padding: 0px!important;
}
.pactshow-mar {
	padding-top: 40px;
}
.pact-tip .agreement{}

.loading .btn-base {
    border-radius: 0px !important;
}
.pact-mr-top .but-disabled {
    cursor: default;
}

.user_title i, .contract i {
    background: url(../images/common/user_left.png) no-repeat 0 -366px;
    display: inline-block;
    width: 24px;
    height: 22px;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -3px;
}

