@charset "utf-8";
.wrap { width: auto; }
.w980 { width: 1100px; }
.shadow { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; border-radius: 0; background: #fff; border: 1px solid #e3e3e3; margin: 23px auto 23px; }
.shadow .tc { text-align: left; }
.mess_title { background: url(../images/h2-icon.png) no-repeat 15px center #fcfcfc; color: #1a1f25; font-size: 18px; padding-left: 30px; }
input[type="password"]:focus, input[type="text"]:focus { border-color: #f85c3c; box-shadow: none; }
.sumbtn, .sumbtn:hover, .sumbtn:active { width: 248px; height: 46px; line-height: 46px; background: url(../images/invest-con.png) no-repeat; }
.sumbtn { background-position: 0 -159px; }
.sumbtn:hover { background-position: 0 -400px; }
.sumbtn:active { background-position: 0 -455px; }
.pw-info ul li.btn-w30{ padding-top:25px;}
.pw-info ul li.btn-w30 label { width: 0px; padding-right:0px;}
.pw-info li label span{ display:none;}
.pw-info li label{ color:#4f4e4e; font-size:16px;line-height: 36px;}
.pw-info ul{ margin-left:385px;}
.pw-info{ padding-top:80px;}
.txt{ height:32px; line-height:32px;}
.pw-info li{ margin-bottom:22px;overflow: visible;position: relative;line-height: 36px;}
.pw-info .pass-item-tip-password { left: 294px; }
.pw-info .color-gray2 {color: #4f4e4e;display:none;}

