@charset "utf-8";
/*用户中心右侧公用样式*/
.mauto { margin: auto }
.user_right { width: 770px; float: right; }
.user_right_box { background: #fff; -webkit-box-shadow: 0px 1px 5px 2px rgba(52,52,52,0.1); -moz-box-shadow: 0px 1px 5px 2px rgba(52,52,52,0.1); box-shadow: 0px 1px 5px 2px rgba(52,52,52,0.1); }
.project_l h1 span i, .ico_tou, .ico_shou, i.ico_more, .icon_add { background-image: url(../images/user/user.png); background-repeat: no-repeat; display: inline-block; vertical-align: middle; width: 21px; height: 21px; margin-left: 10px; }
.ico_more { background-position: -167px -57px; }
.ui-tooltip-content { font-family: "微软雅黑"; }
.user_title i, .contract i { background-image: url(../images/common/user_left.png); background-repeat: no-repeat; display: inline-block; width: 24px; height: 22px; vertical-align: middle; margin-right: 8px; }
.user_title { height: 50px; line-height: 50px; background: url(../images/user/tit_bg.gif) repeat-x; border-bottom: 1px solid #e5e5e5; }
.user_title h1 { font-size: 24px; padding-left: 15px; }
.tr_bg { background: #f5f7fb; }
.edit-mid { width: 980px; margin: 0 auto; background: #fff; -webkit-box-shadow: 0px 1px 5px 2px rgba(52, 52, 52, 0.1); -moz-box-shadow: 0px 1px 5px 2px rgba(52, 52, 52, 0.1); box-shadow: 0px 1px 5px 2px rgba(52, 52, 52, 0.1); border-top: 3px solid #feb804; border-radius: 3px; position: relative; behavior: url(../static/v1/css/PIE.htc); color: #878787; }
.blank80 { display: block; height: 80px; width: 100%; clear: both }
.txt { background: #FFFFFF; border: 1px solid #bababa; color: #999999; float: left; font-size: 14px; height: 28px; line-height: 28px; padding: 1px 5px; width: 180px; }
.pw-info { padding-top: 40px; color: #a3a3a3; min-height: 400px; height: auto !important; height: 400px; }
.pw-info h2 { font-size: 24px; padding: 0 0 15px 30px; }
.pw-info ul { margin-left: 295px; }
.pw-info li { font-size: 14px; line-height: 32px; margin-bottom: 18px; overflow: hidden; }
.pw-info li label { display: block; float: left; font-size: 14px; height: 30px; line-height: 30px; padding-right: 10px; text-align: left; width: 95px; }
.pw-info li label span { color: #f04400; margin-right: 10px; }
.sumbtn { background: #ffb904; border-radius: 3px; color: #FFF; display: inline-block; font-size: 16px; height: 36px; line-height: 36px; margin: 10px 0 0 0; text-align: center; width: 114px; float: left; border: none; cursor: pointer; }
.sumbtn:hover { background: #ffca40; }
.sumbtn:active { background: #e5a500; }
.edit-success { margin: 30px; text-align: center; }
.edit-suc, .edit-fail { display: inline-block; font-size: 0; height: 55px; width: 55px; margin-right: 10px; vertical-align: middle; line-height: 0; background-image: url(../images/common/password.png); background-repeat: no-repeat }
.edit-suc { background-position: 0 0; }
.edit-fail { background-position: 0 bottom; }
i, em { font-style: normal; }
.font24 { font-size: 24px; }
.font16 { text-align: center; font-size: 16px; line-height: 32px; display: block; margin: 15px 0 0 0px; }
