{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
	<!-- header-section-ends -->
    {% include 'ad.html' %}
    <link href="{% static 'css/index_v2.all.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script src="{% static 'js/common_v2.all.min.js' %}"></script>
	<div class="content">
    {% include 'tradelist.html' %}
	<div class="subscribe-section">
		<div class="container">
			<div class="subscribe-section-grids">
				<div class="col-md-8 subscribe">
					<h3>Subscribe for our free PDF Ebook</h3>
					<input type="text" class="text" value="" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}">
					<a href="#">Download PDF</a>
				</div>
			</div>
		</div>
	</div>
        {% include 'clients.html' %}
	</div>
{% endblock %}