{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
	<!-- header-section-ends -->
    {% include 'ad.html' %}
    <link href="{% static 'css/index_v2.all.min.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script src="{% static 'js/common_v2.all.min.js' %}"></script>
	<div class="content">
    {% include 'tradelist.html' %}
	<div class="subscribe-section">
		<div class="container">
			<div class="subscribe-section-grids">
				<div class="col-md-8 subscribe">
					<h3>Subscribe for our free PDF Ebook</h3>
					<input type="text" class="text" value="" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}">
					<a href="#">Download PDF</a>
				</div>
			</div>
		</div>
	</div>
        {% include 'clients.html' %}
		<div class="contact-section text-center">
			<div class="container">
				<h3>Contact Us</h3>
				<div class="contact-top">
					<div class="col-md-4 contact-section-grid text-center">
						<i class="smartphone"></i>
						<p>Phone : (568) 486-4586</p>
						<p>x : (568) 486-4586</p>
					</div>
					<div class="col-md-4 contact-section-grid text-center">
						<i class="user"></i>
						<p>Po box 45236<p>
						<p>Greater st, New york</p>
						<p>Vicrtoria 8423 USA</p>
					</div>
					<div class="col-md-4 contact-section-grid text-center">
						<i class="global"></i>
						<p><a href="mail-to:Support@yourname.com">Support@yourname.com</a></p>
						<p><a href="mail-to:hello@company.com">hello@company.com</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}