<div class="user_nav f_l mr5">
    <style>
    .user_nav{width:168px; border:1px solid #e3e3e3;-webkit-box-shadow: none;-moz-box-shadow:none; box-shadow:none; padding:0; padding-bottom:10px;}
    .user_nav h2{font-size:18px; padding:10px 19px;}
    .user_nav li{line-height:38px; padding:0px 6px; position: relative;}
    .user_nav li a{color:#010101; height:38px; display:inline-block;padding:0px 0px 0px 43px !important; width:114px !important;}
    .user_nav li a i {display: inline-block !important; background-image: none; width: 5px; height: 5px; background: #c8c8c8; position: absolute; top: 17px; left: 32px;}
    .user_nav li.user_select a i{background:#f96648;}
    .user_nav li a:hover{color: #010101 !important}
    .user_nav li.user_select a{background:#f4f2f2; color:#f96648; text-decoration:none;}
    .user_nav li a em,.user_nav li a:hover em,.user_nav li.user_select em{background:#f96648; margin-right:10px; color:#fff;}
    .user_nav li a em,.user_nav li a:hover em,.user_nav li.user_select em{background:#f96648; margin-right:10px; color:#fff;}
    </style>
    <!--个人中心左侧开始-->
    <h2>我的账户</h2>
    <ul>
        <li class="user_select"><a href="./网信理财_files/网信理财.html"><i class="ico_gailan"></i>账户总览</a></li>
        <li><a href="http://www.firstp2p.com/account/setup"><i class="ico_redp"></i>个人设置</a></li>
        <li><a href="http://www.firstp2p.com/account/load"><!----><i class="ico_xiangmu"></i>已投项目</a></li>
        <li><a href="http://www.firstp2p.com/account/charge"><i class="ico_chongzhi"></i>充值</a></li>
        <li><a href="http://www.firstp2p.com/account/carry"><i class="ico_tixian"></i>提现</a></li>
        <li><a href="http://www.firstp2p.com/account/money"><i class="ico_jilu"></i>资金记录</a></li>
        <li><a href="http://www.firstp2p.com/account/loan"><i class="ico_huikuan"></i>回款计划</a></li>
        <li><a href="http://www.firstp2p.com/account/refund"><i class="ico_huankuan"></i>还款计划</a></li>
        <li><a href="http://www.firstp2p.com/account/contract"><i class="ico_hetong"></i>合同列表</a></li>
        <!--li ><a href="/uc_account-invitation"><i class="ico_yonghu"></i>邀请好友</a></li-->
            <li><a href="http://www.firstp2p.com/account/coupon"><i class="ico_yaoqing"></i>邀请返利</a></li>
            <li><a href="http://www.firstp2p.com/account/bonus"><i class="ico_redp"></i>网信红包</a></li>
            <li><a href="http://www.firstp2p.com/user/loanIntentionEnter"><i class="ico_redp"></i>我想借款</a></li>
        <!--li ><a href="/seller/list"><i class="ico_redp"></i>商家服务</a></li-->
    </ul>
<!--个人中心左侧开始-->
</div>