{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
    <script>
    $('#open01').removeClass('active');
    $('#open05').addClass('active');
    </script>
  <div class="content">
    <div class="contact about-desc">
      <div class="container">
        <div class="row">
          <div class="col-md-8 contact_left">
            <img src="{% static 'images/t-bg.jpg' %}" class="img-rounded" alt="Cinque Terre" width="704" height="300"/>
          </div>
          <div class="col-md-4">
								<div class="login-box">
									<div class="login-content ">
										<div class="form">
										<form method="post" action="/home/login/" enctype="multipart/form-data">
											<div class="form-group">
												<div class="col-xs-12  ">
													<div class="input-group">
														<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
														<input type="text" id="username" name="username" class="form-control" placeholder="用户名">
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-12  ">
													<div class="input-group">
														<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
														<input type="password" id="password" name="password" class="form-control" placeholder="密码">
													</div>
												</div>
											</div>
                                            {% csrf_token %}
                                            <input type="hidden" name="source_url" value="{{ request.META.HTTP_REFERER }}">
											<div class="form-group form-actions">
												<div class="col-xs-4 col-xs-offset-4 ">
													<button type="submit" class="btn btn-sm btn-info" value = "ok"><span class="glyphicon glyphicon-off"></span> 登录</button>
												</div>
											</div>
											<div class="form-group">
												<div class="col-xs-6 link">
													<p class="text-center remove-margin"><small>忘记密码？</small> <a href="javascript:void(0)" ><small>找回</small></a>
													</p>
												</div>
												<div class="col-xs-6 link">
													<p class="text-center remove-margin"><small>还没注册?</small> <a href="/home/regist/" ><small>注册</small></a>
													</p>
												</div>
											</div>
									</form>
								</div>
							</div>
						</div>
	      	</div>
        </div>
      </div>
    </div>
   </div>
{% endblock %}