{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
    <script>
    $('#open01').removeClass('active');
    $('#open05').addClass('active');
    </script>
  <div class="content">
    <div class="contact about-desc">
      <div class="container">
        <div class="row">
          <div class="col-md-8 contact_left">
            <img src="{% static 'images/t-bg.jpg' %}" class="img-rounded" alt="Cinque Terre" width="704" height="300"/>
          </div>
          <div class="col-md-4">
            <div class="login-box">
                <div class="login-content ">
                    <div class="form">
                        <form method="post" action="{% url 'regist' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12  ">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <div class="form-left">{{ reg_form.username }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12  ">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                        <div class="form-left">{{ reg_form.email }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12  ">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <div class="form-left">{{ reg_form.password }}</div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="source_url" value="{{ request.META.HTTP_REFERER }}">
                            <div class="form-group form-actions">
                                <div class="col-xs-4 col-xs-offset-4 ">
                                    <button type="submit" class="btn btn-sm btn-info" value = "ok"><span class="glyphicon glyphicon-off"></span>注册</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
{% endblock %}